.footer {
    margin-top: 50px;
    color: black;
}

.contenido {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 12pt;
    margin-bottom: 0;
}

p:nth-child(2) {
    margin-left: 5px;
    font-weight: 500;
}