<!-- ENCABEZADO -->
<section id="encabezado">
    <div class="imagen-encabezado"></div>
    <div class="contenido-encabezado">
        <h1>Únete a nuestro equipo de profesores</h1>
        <p>Únete a nuestro equipo de educadores apasionados y descubre la satisfacción de guiar a la próxima 
            generación de líderes en una universidad que valora la excelencia académica y el crecimiento personal!</p>
        <a class="button" (click)="openDialogRegistro()">INSCRIBIRSE</a>
    </div>
</section>

<div class="separador"></div>
<hr>
<!-- CUERPO -->
<div class="contenedor-principal">
</div>