

<div class="contenedor mt-5">
    
    <div class="contenido">

        <div class="contenedor-titulo-h1">
            <h1 class="h1-titulo">DETALLES DE CALIDAD</h1>
        </div>

        <div class="contenedor-info">

            <div class="tarjeta">

                <div class="area" >
                    <div class="titulo">
                        <span id="count1" class="count">0</span> <span class="count"> / 100 </span>
                    </div>
                    <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                    </ul>
                </div>

                <div class="info">
                    <p class="curso"> GESTIÓN </p>
                    <p> ISO 9001 </p>
                </div>

            </div>


            <div class="tarjeta">

                <div class="area" >
                    <div class="titulo">
                        <span id="count2" class="count">0</span> <span class="count"> / 100 </span>
                    </div>
                    <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                    </ul>
                </div>

                <div class="info">
                    <p class="curso"> NORMAS ISO </p>
                    <p> ISO 9001 - ISO/IEC 27001 </p>
                </div>

            </div>


            <div class="tarjeta">

                <div class="area" >
                    <div class="titulo">
                        <span id="count3" class="count">0</span> <span class="count"> / 100 </span>
                    </div>
                    <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                    </ul>
                </div>

                <div class="info">
                    <p class="curso"> DIMENSIÓN </p>
                    <p> ISO 9001 </p>
                </div>

            </div>


            <div class="tarjeta">

                <div class="area" >
                    <div class="titulo">
                        <span id="count4" class="count">0</span> <span class="count"> / 100 </span>
                    </div>
                    <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                    </ul>
                </div>

                <div class="info">
                    <p class="curso"> ASEGURAMIENTO </p>
                    <p> ISO 9001 </p>
                </div>

            </div>


            <div class="tarjeta">

                <div class="area" >
                    <div class="titulo">
                        <span id="count5" class="count">0</span> <span class="count"> / 100 </span>
                    </div>
                    <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                    </ul>
                </div>

                <div class="info">
                    <p class="curso"> HERRAMIENTAS </p>
                    <p> ISO 9001 </p>
                </div>

            </div>

        </div>
    </div>
</div>
