

<div class="contenedor mt-5">
    
    <div class="contenido">

        <div class="contenedor-titulo-h1">
            <h1 class="h1-titulo">DETALLES DE CALIDAD | MODELO BOEHM</h1>
        </div>

        <div class="contenedor-info">
            <div class="tarjeta">
                <div class="area" >
                    <div class="titulo">
                        <span id="count1" class="count">0</span> <span class="count"> / 100 </span>
                    </div>
                    <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                    </ul>
                </div>
                <div class="info">
                    <p class="curso">ALTO NIVEL</p>
                    <ul>
                        <li>Utilidad</li>
                        <li>Mantenimiento</li>
                        <li>Portabilidad</li>
                    </ul>
                </div>
            </div>


            <div class="tarjeta">
                <div class="area" >
                    <div class="titulo">
                        <span id="count2" class="count">0</span> <span class="count"> / 100 </span>
                    </div>
                    <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                    </ul>
                </div>
                <div class="info">
                    <p class="curso">NIVEL INTERMEDIO</p>
                    <ul>
                        <li>Portabilidad</li>
                        <li>Fiabilidad</li>
                        <li>Eficiencia</li>
                        <li>Usabilidad</li>
                        <li>Capacidad de Prueba</li>
                        <li>Comprensibilidad</li>
                        <li>Flexibilidad</li>
                    </ul>
                </div>
            </div>

            <div class="tarjeta">
                <div class="area" >
                    <div class="titulo">
                        <span id="count3" class="count">0</span> <span class="count"> / 100 </span>
                    </div>
                    <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                    </ul>
                </div>
                <div class="info">
                    <p class="curso">PRIMITIVAS</p>
                    <ul>
                        <li>Independencia</li>
                        <li>Completitud</li>
                        <li>Exactitud</li>
                        <li>Consistencia</li>
                        <li>Eficiencia</li>
                        <li>Accesibilidad</li>
                        <li>Comunicatividad</li>
                        <li>Estructuración</li>
                        <li>Autodescriptividad</li>
                        <li>Concisión</li>
                        <li>Legibilidad</li>
                        <li>Expansividad</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
