<div class="contenedor">

    <div class="contenido">
        
        <div class="cerrar">
            <button class="close" (click)="close()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <div class="contenedor-titulo-h1">
            <h1 class="h1-titulo">
                Asistencia
            </h1>
        </div>

        <div class="dias">

            <div class="card">
                <div class="card-header">
                  Días Laborables
                </div>
                <div class="card-body">
                  <p class="card-text"> 40 </p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                  Días Presentes
                </div>
                <div class="card-body">
                  <p class="card-text"> {{asistencia.dias_asistidos + asistencia.dias_faltas}} </p>
                </div>
            </div>

        </div>

        <div class="info">
            <p class="titulo"> Días Asistidos </p>
            <div class="content">
                <p class="tema"> {{asistencia.dias_asistidos}} / 40 </p>
                <p class="tema"> {{ancho}} </p>
                <div class="background" id="mi-elemento"></div>
            </div>

            <p class="mt-4 titulo"> Días No Asistidos </p>
            <div class="content">
                <p class="tema"> {{asistencia.dias_faltas}} / 40 </p>
                <p class="tema"> {{ancho2}} </p>
                <div class="background2" id="mi-elemento2"></div>
            </div>
        </div>

        
          


    </div>
</div>