/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.min.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.contenedor-titulo-h1 {
    text-align: center;
}

.h1-titulo {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 25pt;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 20px;
}

.h1-titulo:before {
    content: "";
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 25%;
    right: 25%;
    border-bottom: #85e3f0 solid 5px;
}